<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>
<body>

<div layout:fragment="component">
    <div class="container">

        <div sec:authorize="${hasRole('ROLE_ADMIN')}">
            <form method="POST" th:action="@{/admin/deleteOrders}">
                <input type="submit" value="Delete All Orders."/>
            </form>
        </div>

        <div sec:authorize="${hasRole('ROLE_USER')}">
            <span>Please do not linger on places where you are not supposed to be!</span>

        </div>

    </div>
</div>


</body>
</html>