<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>
<body>

<div th:insert="~{template :: header}"></div>

<div sec:authorize="${hasRole('ROLE_ADMIN')}">
    <form method="POST" th:action="@{/admin/deleteOrders}">
        <input type="submit" value="Delete All Orders."/>
    </form>
</div>

<div sec:authorize="${hasRole('ROLE_USER')}">
    <span>Please do not linger on places where you are not supposed to be!</span>

</div>


</body>
</html>