<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<body>
<div th:insert="~{template :: head}"></div>
<div th:insert="~{template :: branding}"></div>

<div class="container">

    <h1>Login</h1>

    <div th:if="${error}">
        Unable to login . Check your Username and password.
    </div>

    <div>
        <p>
            New Here? <a th:href="@{/register}">click here</a> to register.
        </p>
    </div>

    <div>
        <form method="POST" th:action="@{/login}" id="login-form">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username"/><br/>

            <label for="password">Password: </label>
            <input type="password" name="password" id="password"/><br>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
</body>

</html>