<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}" >
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>

<div layout:fragment="component">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Order ID</th>
                <th>User</th>
                <th>Delivery Name</th>
                <th>Delivery Address</th>
                <th>CC Number</th>
                <th>CC Expiration</th>
                <th>CC CVV</th>
                <!-- Add more table headers as needed -->
            </tr>
            </thead>
            <tbody>
            <!-- Iterate over the list of orders and populate the table rows -->
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.tacoUser.username}"></td>
                <td th:text="${order.deliveryName}"></td>
                <td th:text="${order.deliveryStreet + ', ' + order.deliveryCity + ', ' + order.deliveryState + ' ' + order.deliveryZip}"></td>
                <td th:text="${order.ccNumber}"></td>
                <td th:text="${order.ccExpiration}"></td>
                <td th:text="${order.ccCVV}"></td>
                <!-- Add more table cells as needed -->
            </tr>
            </tbody>
        </table>
    </div>

</div>


</body>
</html>